/* General */

body {
    font: 12pt 'Arial', 'Helvetica';
    background-color: #f7f7f7;
    margin: 0px;
}

fieldset {
    margin: 0 0 30px 0;
    padding: 18px;
    border: 2px solid #ddd;
    background-color: white;
    border-radius: 10px;
    display: inline-block;
}

legend {
    font-weight: bold;
    padding: 3px 12px;
    display: block;
    background-color: #e4e4e4;
    border-radius: 6px;
}

ul {
    margin: 0;
    padding: 0;
}


/* Puzzle widgets */

.sliding-puzzle {
    border: 1px solid #ccc;
    border-spacing: 0;
    margin-bottom: 20px;
}

.sliding-puzzle td {
    border-collapse: collapse;
    border: 2px outset white;
    cursor: pointer;
    padding: 0;
    width: 33vw;
    height: 33vh;
    text-align: center;
    font-size: 25px;
}

.device.sliding-puzzle td {
    background-image: none !important;
}

.sliding-puzzle .puzzle-empty {
    border: none;
    background-color: #ddd !important;
}

.sliding-puzzle.puzzle-solved td {
    border: none;
}

.holdingDiv {
    left: 50%;
    position: absolute;
    top: 30px;
    margin-left: -242px;
    z-index: 100;
}

.system b {
    display: none;
}

.device {
    width: 100%;
    height: 100%;
    /*background-color: #061a2e;*/
    /* background: linear-gradient(to bottom, rgb(99,147,193) 57%,rgb(207,231,250) 100%,rgb(207,231,250) 100%,rgb(207,231,250) 100%,rgb(207,231,250) 100%,rgb(207,231,250) 100%,rgb(207,231,250) 100%,rgb(207,231,250) 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#061a2e', endColorstr='#061a2e',GradientType=0 ); !* IE6-9 *!*/
    color: #ffffff;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0a081c+0,0f3b67+50,0a081c+100 */
    background: #0a081c;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #0a081c 0%, #0f3b67 50%, #0a081c 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #0a081c 0%, #0f3b67 50%, #0a081c 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #0a081c 0%, #0f3b67 50%, #0a081c 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0a081c', endColorstr='#0a081c', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    /*background: linear-gradient(#061a2e, black);*/
}

.systemPuzzle {
    position: relative;
    text-align: center;
    width: 100%;
}

.systemPuzzle {
    position: relative;
    text-align: center;
    width: 100%;
}

#myVideo {
    width: 600px;
    left: 127px;
    position: absolute;
    top: 140px;
    margin-left: 0;
    z-index: 50;
}

#myMobileVideo {
    width: 476px;
    left: 45%;
    position: absolute;
    top: 16%;
    margin-left: -240px;
    z-index: 50;
}

.hide-puzzle {
    display: none;
}

.show-puzzle {
    display: block;
}

.time-list {
    margin: 5px 0;
    padding: 0;
}

.time-list li {
    list-style-type: none;
    margin: 0 1px 0 0;
    padding: 0;
    display: inline;
    background: #ccc;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}


/* 
*  Actual page starts here
*/

.challange_dt {
    position: relative;
    width: 100%;
}

.challange_dt a {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -10vw;
    z-index: 10;
}

.challange_dt a img {
    width: 20vw;
}

.make_qrcode {
    background: url("../img/desktop/qrcode_820.png") no-repeat;
    /*    min-height: 625px;*/
    background-size: 100% 100%;
    position: relative;
    height: 523px;
}

.make_qrcode a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -150px;
}

.make_qrcode a img {
    width: 12vw;
}

.make_qrcode qr {
    position: absolute;
    right: 228px;
    top: 150px;
    z-index: 100;
}

.make_qrcode qr canvas {
    width: 125px;
    height: 125px;
}

.desktopVideo {
    background: url("../img/desktop/thank-you_820.png") no-repeat;
    min-height: 625px;
    background-size: 100% 100%;
    position: relative;
}

.mobileVideo {
    background: url("../img/desktop/thank-you.png") no-repeat;
    min-height: 625px;
    background-size: contain;
    position: relative;
}

.device-challenge {
    background: url("../img/mobile/challange%20mobile.png") no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
    background-size: 100% 100%;
}

.device-challenge a {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -25vw;
}

.device-challenge a img {
    width: 25vw;
}

.device-play {
    background: url("../img/mobile/challange_now.png") no-repeat;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.device-play a {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -25vw;
}

.device-play a img {
    width: 25vw;
}

.container-fluid {
    padding: 0;
}

.flexWidth {
    width: 820px !important;
    margin: 0 auto;
}

@media(min-width: 320px) and (max-width: 767px) {
    .container {
        width: 100% !important;
        padding: 0;
    }
    .device-challenge {
        background: url(../img/mobile/challange%20mobile.png) no-repeat;
        height: 100vh;
        width: 100%;
        position: relative;
        background-size: 100% 100%;
    }
    .device-challenge a,
    .device-play a {
        position: absolute;
        bottom: 30px;
        left: 0;
        right: 0;
        width: 75%;
        margin: 0 auto;
    }
    .device-challenge a img,
    .device-play a img {
        width: 100%;
    }
    .device-play {
        background: url(../img/mobile/challange_now.png) no-repeat;
        height: 100vh;
        width: 100%;
        position: relative;
        background-size: 100% 100%;
    }
    .device-qrlandingPage a {
        position: absolute;
        bottom: 30px;
        left: 76%;
        right: 0;
        width: 75%;
        margin: 0 auto;
    }
    .device-qrlandingPage a img {
        width: 100%;
    }
    .device-qrlandingPage {
        position: relative;
    }
    .device {
        height: 100vh;
        margin: 0;
    }
    .mobileVideo {
        background: url(../img/desktop/thank-you.png) no-repeat;
        min-height: 625px;
        background-size: 100% 100%;
        position: relative;
        height: 100vh;
        width: 100%;
    }
    #myMobileVideo {
        width: 80%;
        left: 10vw;
        position: absolute;
        top: 38%;
        margin-left: 0;
        z-index: 50;
        margin: 0 auto;
    }
    #myMobileVideo iframe {
        height: 100%;
        width: 100%;
    }
}